@import './fonts.css'; /* facultatif si tu as des polices personnalisées */
@import 'keen-slider/keen-slider.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables personnalisées */
:root {
  --background: #fff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  font-family: 'Satoshi', sans-serif;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
